extends layout

block content
	-for(var i=0;i<18;i++)
		- var row = Math.floor(i/5) * 120 + 483;
		- var col = (i%5) * 120 + 130;
		- var position = 'position: absolute; top: ' + row + 'px; left: ' + col + 'px';
		- var imgpath = '/img/items/' + i + '.jpg'
		.dragItem.myItem(style=position) 
			img.flex(src=imgpath)
		.myItem(style=position) 
			img.flex(src=imgpath)
	-for(var i=0;i<4;i++)
		- var row = Math.floor(i/5) * 70 + 850;
		- var col = (i%5) * 70 + 850;
		- var position = 'position: absolute; top: ' + row + 'px; left: ' + col + 'px';
		- var imgpath = '/img/items/' + i + '.jpg'
		.dragItem.notificationItem(style=position) 
			img.flex(src=imgpath)
		.notificationItem(style=position) 
			img.flex(src=imgpath)

	img(src="/img/list.png")

block bar
	.bar
		.header
			.fb
				img(src='/img/reisman_heather.jpg', style="height: 25px; margin-right: 20px")
				| Hi <a href="/heather">Heather</a>, drag an item to save it!
		.content
			.dropSpot.scroll
				-var listNames = ['Christmas', 'Running gear', 'For Christine', 'Webdev stuff', 'XKCD only', 'Toronto', 'Other stuff','iPhone','Cooking books']
				-for(var i=0;i<9;i++)
					.lists
						a(href='/heather/list')= listNames[i]
			.cart
				.lists