extends layout

block content
	.scrollArea
	img(src="/img/new/p_-03.png")

block bar
	.bar.proto2
		.content
			.dropSpot.scroll
				-var listNames = ['John\'s Bday', 'Running gear', 'New den', 'Webdev stuff', 'XKCD only', 'Toronto', 'Other stuff','iPhone','Cooking books']
				-for(var i=0;i<3;i++)
					.lists
						a(href='/proto/2')= listNames[i]

block template
	| <script id='template1' style='text/html'>
	.feedItem
		img(src='/img/new/1.png')
		.scroll.feedList
			-for(var i=0;i<5;i++)
				- var imgpath = '/img/items/' + i + '.jpg'
				.dragItem.myItem
					img.flex(src=imgpath)
	| </script>

	| <script id='template2' style='text/html'>
	.feedItem.animate
		img.animated(src='/img/new/flw1.png')
		img(src='/img/new/2.png', style='z-index: 999; position: absolute; top: 0; left: 0')
	| </script>

	| <script id='template3' style='text/html'>
	.feedItem(style="height: 167px")
		img(src='/img/new/3.png')
	| </script>

	| <script id='template4' style='text/html'>
	.feedItem
		img(src='/img/new/4.png')
		.scroll.feedList
			-for(var i=0;i<5;i++)
				- var imgpath = '/img/items/' + i + '.jpg'
				.dragItem.myItem
					img.flex(src=imgpath)
	| </script>

	| <script id='template5' style='text/html'>
	.feedItem
		img(src='/img/new/5.png')
		.scroll(style="top: 175px").feedList
			-for(var i=0;i<5;i++)
				- var imgpath = '/img/items/' + i + '.jpg'
				.dragItem.myItem
					img.flex(src=imgpath)
	| </script>

	| <script id='template6' style='text/html'>
	.feedItem
		img(src='/img/new/6.png')
		.scroll.feedList
			-for(var i=0;i<5;i++)
				- var imgpath = '/img/items/' + i + '.jpg'
				.dragItem.myItem
					img.flex(src=imgpath)
	| </script>

	| <script id='template7' style='text/html'>
	.feedItem.listOpen
		img(src='/img/new/7.png')
		.listDrawer

	| </script>

	| <script id='template8' style='text/html'>
	.feedItem
		img(src='/img/new/4.png')
		.scroll.feedList
			-for(var i=0;i<5;i++)
				- var imgpath = '/img/items/' + i + '.jpg'
				.dragItem.myItem
					img.flex(src=imgpath)
	| </script>
